.dashboard-header {
    background: linear-gradient(90deg, #0369AF 0%, #06B6D4 100%);
    color: white;
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.info-box-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-box {
    width: 30%;
    background: #FFFFFF33;
    border-radius: 8px;
    padding: 10px 0px;
    opacity: 1;
}

.info-box h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.info-box p {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.section-title h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}

.section-title .view-all-btn {
    color: #4F46E5;
}

.quick-access .card {
    background: #FFFFFF;
    border: none;
    border-radius: 12px;
    border-width: 1px;
    cursor: pointer;
}

.quick-access .card:hover {
    background-color: #f1f1f1;
}

.quick-access-box {
    display: flex;
    flex-direction: column;
}

.quick-access-box .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-box {
    background: #FEE2E2;
}

.red-box i {
    color: #dc2626;
    font-size: 18px;
}

.green-box {
    background: #DCFCE7;
}

.green-box i {
    color: #16a34a;
    font-size: 18px;
}

.blue-box {
    background: #DBEAFE;
}

.blue-box i {
    color: #2563eb;
    font-size: 18px;
}

.quick-access-text {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.quick-access-text p {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.quick-access-text small {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.video-card {
    border: 1px solid #E5E7EB;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
}

.video-thumb {
    position: relative;
    height: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-bottom: 1px solid #E5E7EB;
    margin-bottom: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.video-thumb img {
    max-height: 100%;
    max-width: 100%;
}

.play-icon {
    position: absolute;
    color: white;
    font-size: 30px;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.video-thumb:hover .play-icon {
    opacity: 1;
}

.video-content {
    display: flex;
    flex-direction: column;
}

.video-content h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.video-content .video-content-para {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
}

.video-content-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-content-btn small {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
}

.video-content-btn button {
    background: linear-gradient(97.26deg, #0369AF -15.25%, #06B6D4 133.09%);
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    border: none;
}

.audio-item-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-card {
    border: 1px solid #E5E7EB;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    max-width: 270px;
    margin-right: 10px;
}

.audio-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    background: #FFFFFF;
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 2px 0px #0000000D;
}

.audio-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    border-radius: 8px;
}

.audio-card-icon i {
    color: #fff;
    font-size: 40px;
}

.audio-card-content {
    display: flex;
    flex-direction: column;
    color: #000;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1rem;
}

.urdu-audio-name {
    font-family: "Noto Nastaliq Urdu", serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    margin-bottom: 10px;
}

.english-audio-name {
    font-weight: 400;
    font-size: 14px;
    color: #4B5563;
}

.audio-card-button {
    background: #06B6D4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}
